body, html {
    background:#3E4C5E;
    margin: 0;
    padding: 0;
    }
    #container1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    #container {
    background: #222;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    width: 310px;
    
    }
    .display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background:#222;
    box-shadow:inset 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    }
    .buttons {
    padding: 20px 20px 0 20px;
    }
    .row {
    width: 280px;
    float: left;
   }
   .firstContainer {
   }
    input[type=button] {
    width: 60px;
    height: 60px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.2);
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    font-size: 30px;
    line-height: 30px;
    outline:none;
    border-radius: 10px;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer; 
    transition:0.1s;
    }
    input[type=button]:hover{
    background:white;
    color:#000;
    font-size:2.4rem;
    box-shadow:0 0 10px 5px white;
    }
    
    input[type=text] {
    width: 270px;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    font-size:35px;
    margin-left:18px;
    color:#ffffff;
    background:transparent;
    padding-left:5%;
    border-radius:10px;
    outline:none;
    border:none;
    }
    #equal-el,
    #del{
     height:60px;
     color:white;
     width:46%;
     background-color:#333;
     border-radius:15px;
    }
    
    
   .row .red{
      background-color:#333;
      color:white;
    }
    
    #clockdate-wrapper {
      background-color: #333;
      padding:25px;
      max-width:350px;
      width:100%;
      text-align:center;
      border-radius:5px;
      margin: 0px;
    
  }
  #clock{
      background-color:#333;
      font-family: sans-serif;
      font-size:60px;
      text-shadow:0px 0px 1px #fff;
      color:#fff;
  }
  #clock span {
      color:#888;
      text-shadow:0px 0px 1px #333;
      font-size:50px;
      position:relative;
      top:-5px;
      left:10px;
  }
  #date {
      letter-spacing:3px;
      font-size:14px;
      font-family:arial,sans-serif;
      color:#fff;
  }
  #containerCalcHono {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: #333;
    border: solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
  }
  input {
    outline: none;
  }
  #containerCalcHono input {
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: NONE;
    padding: 5px;
    margin: 5px;
    width: 100px;
  }
  #containerCalcHono button {
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px ;
    transition: 0.5s;
    font-weight: bold;
    color: #333;

  }
  #resultat {
    color: white;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #containerCalcHono button:hover {
    box-shadow:0px 0px 3px 3px white;
  }
#firstHalf {
  height: 50%;
  border-bottom: solid #333;
}
#secondHalf {
  height: 50%;
  padding-top: 10px;
}
#result {
  color: white;
}
#weatherall {
  display: flex;
  background-color: lightblue;
  width: 100px;
  border-radius: 10px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100px;
  margin-left: -40px;
  justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  justify-content: flex-end;
}
#weather-icon {
  height: 100px;
  width: 100px;
  z-index: 2;
}
/*BREAKPOINT*/
@media only screen and (max-width: 600px) {
  #container1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    align-items: center;
  }
  #containerCalcHono {
    top: 0px;
    left: 0px;
    width: 350px;
    padding: 10px;
    margin: 5px;
  }
  #clockdate-wrapper {
    width: 87%;
    margin-bottom: 5px;
  }
}
.wi-cloud {
  width: 100px;
  height: 100px;
  background-image:url("./cloudy.png");
}
.wi-day-sunny {
  width: 100px;
  height: 100px;
  background-image: url("./cloudy.png");
}

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { 
  -moz-appearance: textfield;
}

/* Weather */

/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
 
.top-banner form input {
  -webkit-appearance: none;
}
 
button,
.top-banner form input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.containerx {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}


/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-banner {
  color: var(--text_light);
}

.heading {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 0.02em;
}

.top-banner form {
  position: relative;
  display: flex;
  align-items: center;
}

.top-banner form input {
  font-size: 2rem;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}

.top-banner form input::placeholder {
  color: currentColor; 
}

.top-banner form button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: var(--red);
  transition: background 0.3s ease-in-out;
}

.top-banner form button:hover {
  background: var(--darkred);
}

.top-banner form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}


/* SECTION #2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.ajax-section {
  margin: 70px 0 20px;
}

.ajax-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
}

.ajax-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  background: var(--text_light);
  color: var(--text_med);
}

.ajax-section .city::after {
  content: '';
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 20px;
  background: var(--text_light);
}

.ajax-section figcaption {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ajax-section .city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: var(--text_dark);
}

.ajax-section .city sup {
  font-size: 0.5em;
}

.ajax-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 30px;
  color: var(--text_light);
  background: var(--orange);
}

.ajax-section .city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  text-align: right;
  font-size: 1rem;
  color: var(--text_light);
  margin-top: 40px;
}

.page-footer span {
  color: var(--red);
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 1000px) {
  body {
    padding: 30px;
  }
  
  .ajax-section .cities {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .heading,
  .ajax-section .city-temp {
    font-size: 3rem;
  }
  
  .ajax-section {
    margin-top: 20px;
  }
  
  .top-banner form {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .top-banner form input,
  .top-banner form button {
    width: 100%;
  }

  .top-banner form button {
    margin: 20px 0 0 0;
  }
  
  .top-banner form .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }

  .ajax-section .cities {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 15px;
  }
  
  .ajax-section .cities {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* API Key banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.api {
  background: #fffbbc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.api a {
  text-decoration: underline;
}

.api a:hover {
  text-decoration: none;
}
#weatherCard {
  width: 450px;
  margin: 20px;
}